@import '../vendors/vars.scss';
.contentItem {
    display: none;
    height: 100%;
    overflow: hidden;
    flex-direction: row;
    background-color: $colorBtnHover;
    color: $bgColorSecondary;
    @media (max-width: 1000px) {
        flex-direction: column;
    }
    .contentItemColumn {
        height: 100%;
        display: flex;
    }
    .contentItemColumn-left {
        width: 30%;
        padding: 10px;
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
        @media (max-width: 1000px) {
            width: 100%;
        }
    }
    .contentItemColumn-right {
        width: 70%;
        @media (max-width: 1000px) {
            width: 100%;
        }
    }
}

.contentItem-active {
    display: flex;
}