@import '../vendors/vars.scss';
.headerContent {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    &__column-left {
        width: 70%;
    }
    &__column-right {
        width: 30%;
    }
    .headerBtn {
        cursor: pointer;
        transition: $transition;
        .headerBtnIco {
            font-size: 50px;
        }
        &:hover {
            color: $colorBtnHover;
            
        }
    }
    .headerBtn-clicked {
        transform: rotate(90deg);
    }
}