@import '../vendors/vars.scss';
p {
    font-family: $FontSecondary;
    font-size: $fontSizeText;
    line-height: 1.2em;
    @media (max-width: 600px) {
        font-size: $fontSizeTextMediaS;
    }
}